<div class="container"
    fxLayout="row wrap"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="leader">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{leader.name | uppercase}} {{leader.abbr}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{leader.image}} alt={{leader.name}}>
      <mat-card-content>
        <p>{{leader.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
